<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Nav Bar</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        div.navbar{
            width: 100%;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;  
        }
        ul.navbar{
            display: flex;
            justify-content: space-between; 
            align-items: center; 
            width: 80%;
            
            
        }
        li.navbar{
            list-style: none;
            font-size: larger;
            font-weight: 700;
        }
        .navbar{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <ul class="navbar">
            <li class="navbar"><a class="navbar" href="#header1">Home</a></li>
            <li class="navbar"><a class="navbar" href="#header2">About</a></li>
            <li class="navbar"><a class="navbar" href="#header3">Services</a></li>
            <li class="navbar"><a class="navbar" href="#header4">Contact</a></li>
        </ul>
    </div>
</body>
</html>